<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBy-LLqviaFW7QcHDLSLNwnTHPg7u3bqRI</string>
	<key>GCM_SENDER_ID</key>
	<string>252612268699</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.in5km.lottfun</string>
	<key>PROJECT_ID</key>
	<string>lottfun</string>
	<key>STORAGE_BUCKET</key>
	<string>lottfun.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:252612268699:ios:1d28c520038499c2122c3e</string>
</dict>
</plist>